<h2>Lista Por Lojas</h2>

<div *ngFor="let loja of lojas">
    <h4>Loja: </h4><span>{{loja?.nome}}</span>
    <h4>Representante: </h4><span>{{loja?.representante.nome}}</span>
    <h4>Saldo: </h4><span>{{loja?.conta.saldo | currency: 'BRL'}}</span>
    <h4>Transações:</h4>
    <table>
        <thead>
            <tr>
                <th>Data/Hora</th>
                <th>Valor</th>
                <th>Tipo/Natureza</th>
                <th>Cartão</th>
                <th>Beneficiário</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transacao of loja?.transacoes">
                <td>{{transacao?.dataHora | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{transacao?.valor | currency: 'BRL'}}</td>
                <td>{{transacao?.tipoTransacao.tipo}} - {{transacao?.tipoTransacao.natureza}}</td>
                <td>{{transacao?.cartao.numero}}</td>
                <td>{{transacao?.beneficiario.cpf}}</td>
            </tr>
        </tbody>
    </table>
</div>